body {
  background: #f3f3f3;
  font-family: "Segoe UI", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-estudante {
  max-width: 380px;
  margin: 40px auto;
  background: white;
  border-radius: 14px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.foto-box {
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 12px;
  border: 3px solid #198754;
  margin: 0 auto;
}

.foto-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 700;
  color: #198754;
}

.info {
  margin-top: 52px;
}

.info p {
  margin: 6px 20px;
  font-size: 16px;
}

@media (max-width: 900px) {
  .card-estudante {
    margin: 20px;
    padding: 16px;
  }
  .title {
    font-size: 20px;
  }
  .info p {
    font-size: 12px;
  }
}
